<h1>Welcome, <%= @user.name %></h1>

<div class="panel panel-default">
  <div class="panel-heading"><h2>Your Addresses</h2></div>
  <div class="panel-body">
    <%= render partial: @user.addresses %>
    <%= link_to 'Add Address', new_address_path(user_id: @user.id) %>
  </div>
</div>

