<div class='col-md-8 col-md-offset-2 jumbotron' id='about'>
  <h3>While most places will just pour you an old cup of joe, we flip the script by serving only the finest black gold. In order to ensure the best, we only use beans that are fair-trade, organic, hand-picked, and serenaded nightly.</h3>
  <%= image_tag 'allthecoffee.gif', class: 'img-rounded img-responsive'%>
</div>
