<div class="jumbotron">
  <h1>Convenient Craft Coffee</h1>
  <p class="lead">Are you tired of having to constantly leave the house just to get a gourmet coffee and tasty pastries? Let us deal with the unpleasantries of the outside world for you!</p>
  <p>
    <%= link_to 'Sign Up Today', new_user_path, class: 'btn btn-lg btn-success', role: 'button' %>
  </p>
</div>


