<table class="table table-striped table-hover text-center">
  <thead>
    <tr>
      <th class="text-center">Item</td>
      <th class="text-center">Quantity</td>
      <th class="text-center">Price</td>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |item| %>
      <tr>
        <td><%= link_to item.title, item %></td>
        <td><%= @cart.data[item.id.to_s] %></td>
        <td><%= item.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Checkout", new_order_path, class: 'btn btn-default' %>
