<table class="table">
  <thead>
    <td>Item</td>
    <td>Quantity</td>
    <td>Price</td>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.title, item %></td>
        <td><%= @cart.data[item.id.to_s] %></td>
        <td><%= item.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Submit Order", new_order_path, class: 'btn btn-default' %>
