<table class="table">
  <thead>
    <td>Item</td>
    <td>Quantity</td>
    <td>Price</td>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= @cart.data[item.id.to_s] %></td>
        <td><%= item.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
