<table class="table table-striped text-center">
  <thead>
    <tr>
      <th class="text-center">Street number</th>
        <th class="text-center">Street name</th>
        <th class="text-center">City</th>
        <th class="text-center">State</th>
        <th class="text-center">Zip Code</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: addresses %>
    </tbody>
</table>
