<h1 class='text-center'>Menu</h1>

<div class='col-md-6'>
  <h3 class='text-center'>Drinks</h3>
  <%= render partial: @items.drinks %>
</div>

<div class='col-md-6'>
  <h3 class="text-center">Eats</h3>
  <%= render partial: @items.eats %>
</div>


