<h1 class="text-center">Select Payment Method</h1>
<div class="col-md-12">
  <div class="col-md-2"></div>
  <% if @order.delivery? %>
    <div class="col-md-4 text-center">
  <% else %>
    <div class="col-md-8 text-center">
  <% end %>
  <%= form_tag({controller: "charges", action: "create"}, method: "post") do %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Coffee and Pastries"
              data-amount="<%= @order.stripe_total %>"></script>
  <% end %>
  </div>
  <% if @order.delivery? %>
    <div class="col-md-4 text-center">
      <%= link_to "Pay on Pick-Up", order_path(@order), class: "btn btn-success" %>
    </div>
  <% end %>
  <div class="col-md-2"></div>
</div>
