<h1 class="text-center">Select Payment Method</h1>
<div class="col-md-8 col-md-offset-2">
  <%= form_tag({controller: "charges", action: "create"}, method: "post") do %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Coffee and Pastries"
              data-amount="<%= @order.stripe_total %>"></script>
  <% end %>
  <%= link_to "Pay on Pick-Up", order_path(@order) %>
</div>
