<% flash.each do |name, msg| %>
<div class="alert alert-info alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">x</span>
  </button>
  <%= msg %>
</div>
<% end %>
